Type,Name,Value
CNAME,gizqqup34yefskarv2wjuuhkfrankjah._domainkey.example.com,gizqqup34yefskarv2wjuuhkfrbnkjah.dkim.amazonses.com
CNAME,seuug6fntrfsoemzs3uekef27bbvbykh._domainkey.example.com,seuug6fntrfsoemzs3uekef27bvvbykh.dkim.amazonses.com
CNAME,g7iuinks4gxayay6q3wqy27kdecl236r._domainkey.example.com,g7iuinks4gxayay6q3wqy27kdehl236r.dkim.amazonses.com
MX,test.example.com,10 feedback-smtp.us-east-1.amazonses.com
TXT,test.example.com,"v=spf1 include:amazonses.com ~all"
TXT,_dmarc.example.com,"v=DMARC1; p=none;"